@font-face {
    font-family: 'Be_Vietnam_Pro';
    src: url('../../public/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf');
    font-weight: 400 ;
}

@font-face {
    font-family: 'Be_Vietnam_Pro';
    src: url('../../public/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf');
    font-weight: 500 ;
}

@font-face {
    font-family: 'Be_Vietnam_Pro';
    src: url('../../public/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf');
    font-weight: 700 ;
}